*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 0, 0);
}
.calculator{
    position: relative;
    display: grid;
    
}
.calculator .value{
    grid-column: span 4;
    border: 0;
    outline: none;
    height: 90px;
    width: 272px;
    margin-bottom: 5px;
    padding-right: 10px;
    background: #4443437c;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: right;
}
.calculator span{
    display: grid;
    outline: none;
    border: none;
    margin: 0.5px 0.5px 0.5px 0.5px;
    width: 67px;
    height: 67px;
    font-size:x-large;
    background: #4443437c;
    place-items: center;
    color: rgb(255, 255, 255);
}
.calculator span:active{
    background: #000000;
    color: rgb(255, 255, 255);
}
.calculator span.opp:active{
    background: #000000;
    color: rgb(255, 255, 255);
} 
.calculator span.opp{
    background:#fcf700;;
    color:#000000;
    grid-column: span 1;
    font-weight:bold;
} 
.calculator span.opptop:active{
    background: #000000;
    color: rgb(255, 255, 255);
} 
.calculator span.opptop{
    background: #4443437c;
    color:#ffffff;
    grid-column: span 1;
    font-weight:bold;
} 
.calculator span.ac:active{
    background: #000000;
    color: rgb(255, 255, 255);
} 
.calculator span.ac{
    background: #4443437c;
    color:#fcf700;
    grid-column: span 1;
    font-weight:bold;
} 
